@import "colors";

nav{
  width:100%;
  
  padding-inline: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items:sticky;
  position:fixed;
  background-color: $first;
  top:0%;
  z-index: 10;
  opacity:0.4;

  > h1{
    text-transform: uppercase;
    margin-top:0.7rem;
   
    font: 700 1.3rem $text2;
  }

  > main{
    
    display: flex;
    justify-content: flex-end;

    > a {
      color:$dark;
      margin:1rem;

      &:hover{
        color:$third;
      }
    }
  }
}